.App {
  text-align: center;
}

:last-child {
  margin: 0;
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}
.title {
  margin-right: 10px;
}
.react-datepicker-wrapper {
  display: block;
}
.full-width-input,
textarea,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
input.checkbox {
  width: auto;
}
.react-datepicker-time__caption {
  font-weight: bold;
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}
.title {
  margin-right: 10px;
}
.react-datepicker-wrapper {
  display: block;
}
.full-width-input,
textarea,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
input.checkbox {
  width: auto;
}
.react-datepicker-time__caption {
  font-weight: bold;
}

.form-wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  .half {
    width: 50%;
    text-align: left;
  }
  @media (max-width: 768px) {
    display: block;
    .half {
      width: 100%;
    }
  }
}
